<form [formGroup]="shipEditorForm">
  <tr>
    <td><mat-slider id="hullSpacesSlider" min="25" max="500" thumbLabel tickInterval="1" [formControl]="hullSpacesSlider" style="width: 400px"></mat-slider></td>
    <td>
      <mat-form-field style="width: 100px">
        <mat-label>Hull Spaces</mat-label>
        <input matInput type="number" id="hullSpacesInput" [formControl]="hullSpacesInput">
        <mat-error *ngIf="hullSpacesInput.hasError('min') && !hullSpacesInput.hasError('required')">
          Hull Spaces must be <strong>at least 25</strong>
        </mat-error>
        <mat-error *ngIf="hullSpacesInput.hasError('max') && !hullSpacesInput.hasError('required')">
          Hull Spaces must be <strong>no more than 500</strong>
        </mat-error>
        <mat-error *ngIf="hullSpacesInput.hasError('required')">
          Hull Spaces is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td><mat-slider id="driveGenerationSlider" min="1" max="9" step="0.1" thumbLabel tickInterval="0.1" [formControl]="driveGenerationSlider" style="width: 400px"></mat-slider> </td>
    <td>
      <mat-form-field id="driveGenerationFormField" style="width: 100px">
        <mat-label>Drive Generation</mat-label>
        <input matInput type="number" id="driveGenerationInput" [formControl]="driveGenerationInput">
        <mat-error *ngIf="driveGenerationInput.hasError('min') && !hullSpacesInput.hasError('required')">
          Drive Generation must be <strong>at least 1.0</strong>
        </mat-error>
        <mat-error *ngIf="driveGenerationInput.hasError('max') && !hullSpacesInput.hasError('required')">
          Drive Generation must be <strong>no more than 9.0</strong>
        </mat-error>
        <mat-error *ngIf="driveGenerationInput.hasError('required')">
          Drive Generation is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td><mat-slider id="thrustSlider" min="0.5" max="16" step="0.5" thumbLabel tickInterval="0.5" [formControl]="thrustSlider" style="width: 400px"></mat-slider> </td>
    <td>
      <mat-form-field id="thrustFormField" style="width: 100px">
        <mat-label>Thrust</mat-label>
        <input matInput type="number" id="thrustInput" [formControl]="thrustInput">
        <mat-error *ngIf="thrustInput.hasError('min') && !thrustInput.hasError('required')">
          Thrust must be <strong>at least 0.5</strong>
        </mat-error>
        <mat-error *ngIf="thrustInput.hasError('max') && !thrustInput.hasError('required')">
          Thrust must be <strong>no more than 16.0</strong>
        </mat-error>
        <mat-error *ngIf="thrustInput.hasError('required')">
          Thrust is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
</form>
